# Dependencias
node_modules/

# Salida de compilacion
dist/
*.tsbuildinfo

# Variables de entorno
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db